
<h1 >{{nombre | miPipePersonalizado}}</h1>
<h2>Fecha de hoy: {{fecha | date:'dd/MM/YYYY'}}</h2>
<h2>Cuanto cotiza el dolar: {{dolar | currency}}</h2>
<h2>Cuanto vale el numero pi: {{pi | number: '1.2-5'}}</h2>
<button type="button" (click)="saludar();">Saludar</button>
<button type="button" (click)="preguntar();">preguntar por hijo</button>


<!--

     

    <app-hijo [datoHijo]="datoPadre" (eventoHijo)="manejadorEventoDelPadre"/>


    Forma de pasarse los datos al componente hijo



<app-hijo (mensajeDesdeHijo)="recibirMensaje($event)"
 (incrementarDesdeHijo)="incrementar()"
 (decrementarDesdeHijo)="decrementar()"/>

<h1>Contador :</h1>
<p>{{valorContador}}</p>

<h5>El mensaje recibido desde el hijo es {{mensajeRecibido}}</h5>
-->